
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #333;
}

/* Estilos para el formulario y tabla */
label {
    display: block;
    margin-bottom: 5px;
}

select, button {
    padding: 10px;
    margin-bottom: 15px;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

#resetBtn {
    background-color: #97008b;
}

#resetBtn:hover {
    background-color: red
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: left;
}


#subtotal, #descuento, #total {
    margin-top: 20px;
    font-weight: bold;
}

#descuento {
    color: #d9534f; 
}



label {
    display: block; /* Mostrar las etiquetas en una nueva línea */
    margin-bottom: 5px; /* Espacio entre etiquetas y campos de entrada */
  }
  
  input[type="email"],
  input[type="text"] {
    width: 100%; /* Ancho completo del campo de entrada */
    padding: 10px; /* Relleno interno */
    margin-bottom: 10px; /* Espacio entre campos de entrada */
    border: 1px solid #ccc; /* Borde con un color gris claro */
    border-radius: 3px; /* Bordes redondeados */
  }
  
  #my-form-button {
    background-color: #007BFF; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    padding: 10px 20px; /* Relleno interno del botón */
    border: none; /* Sin borde */
    border-radius: 3px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar el cursor al pasar sobre el botón */
  }
  
  #my-form-button:hover {
    background-color: #0056b3; /* Color de fondo del botón al pasar el mouse */
  }
  